<ion-view title="{{humanReadableDay}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
       <ion-slide ng-repeat="day in days">
           <div ng-if="currentIndex===$index">
           <div class="card" ng-repeat="card in cards[currentDay]">
              <div ng-hide="loaded" style="margin-left: 40%; margin-top: 5%; margin-bottom: 5%;">
                  <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
              </div>
              <div class="item item-avatar">
                <img ng-src="{{getIcon(card.type)}}">
                <button type="button" class="close" aria-hidden="true" ng-click="saveForLater(card)">&times;</button>
                <div ng-if="card.supertype==='place'">
                    <h2 ng-if="card.type==='summary'">You traveled</h2>
                    <h2 ng-if="card.type==='park'">Next time try walking to</h2>
                    <h2 ng-if="card.type==='food'">Next time your in the area check out</h2>
                    <h2 ng-if="card.type==='pool'">Take a swim next time</h2>
                    <h2 ng-if="card.type==='library'">On you way back read a book at</h2>
                    <p>{{card.description}}.</p>
                </div>
                <div ng-if="card.supertype==='job'">
                    <h2>You passed a job</h2>
                    <p>{{card.description}}.</p>
                </div>
              </div>
              <div class="item item-image">
                  <img ng-if="card.type!=='summary'" ng-src="http://staticmap.openstreetmap.de/staticmap.php?center={{card.location.longitude}},{{card.location.latitude}}&zoom=15&size=300x200&maptype=mapnik">
                  <img style="width: 200px; height: auto;" ng-if="card.type==='summary'" src="img/hunt.png">
              </div>
              <div class="item item-divider">
                <button type="button" class="close" aria-hidden="true" ng-click="saveForLater(card)">Save</button>
              </div>
           </div>
          </div>
       </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
